<%-include("../partials/navbar") %>
<% for( let cohort of cohorts) { %>
  <div class="card m-3">
    <div class="card-body">
      <h4 class="card-title"><%-cohort.team_name%></h4>
      <p class="card-text"><%-cohort.members%></p>
      <a href="/super_team_picker/<%-cohort.id%>" class="btn btn-primary">Show cohort</a>
    </div>
  </div>
<% } %> 
</body>
</html>